@font-face {
  font-family: "Patua One";
  src: url("fonts/PatuaOne/PatuaOne-Regular.eot");
  src: url("fonts/PatuaOne/PatuaOne-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PatuaOne/PatuaOne-Regular.woff2") format("woff2"),
    url("fonts/PatuaOne/PatuaOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "whiteOnBlack";
  src: url("White_On_Black.ttf");
  src: url("fonts/PatuaOne/PatuaOne-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PatuaOne/PatuaOne-Regular.woff2") format("woff2"),
    url("fonts/PatuaOne/PatuaOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Patua One", Arial, Helvetica, sans-serif;
  background: #cc7726;
  margin: 0px;
  /* width: 100%; */
}
div#camera {
  /* imagen a la derecha del menu*/
  float: right;
}

div#camera img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 44px;
  /* position: absolute; */
  margin: 2px;
  margin-top: 5px;
  margin-right: 15px;
  transform: rotateY(180deg);
  /* float: right; */
  /* display: flex; */
}

div#logo img {
  margin-left: 10px;
  /* padding: 0.5em; */
  /* margin: 0px auto; */
  background-size: cover;
  width: 85px;
  float: left;
  background-repeat: no-repeat;
  margin-top: 3px;
}

div#nav_principal {
  background-repeat: repeat;
  background-image: url("../img/ebb221cf.png");
  height: 95px;
  z-index: 3;
  position: relative;
  top: 0;
  box-shadow: 0px 1px 2px 1px black;
  clear: both;
  /* width: 100%; */
  /* position: fixed; */
}
.titulo p {
  margin: 0;
}
#subtitulo {
  font-family: "whiteOnBlack", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 30px;
}
.titulo {
  margin-left: 45px;
  font-size: 45px; /* margin: 14px; */
  /* width: 30%; */
  display: block;
  float: left; /* margin: 19px; */ /* margin: 13px; */
  color: white;
  text-decoration: none;
  padding: 4px; /* font: 800 30px 'Roboto'; */
}

#portada img{
  width: 100%;
  background-attachment: fixed;
}

.menu {
  border: #133b85;
  /* width: 60%; */
  /* float: inline-start; */
  display: block;
  text-align: right;
}
.menu ul {
  list-style: none;
  display: block;
  /* float: right; */
}

.menu > ul> li {
  
  display: block;
  padding: 20px;
  margin-top: 5px;
  position: relative;
  width: 20%;
  float: right;
  /* overflow: hidden; */
  border-radius: 5px;
}

.submenu{
  display:block;
  position: absolute;
  /* background-color: #ffffff; */
  /* width: 120%; */
  visibility: hidden;
  opacity: 0;
  text-align: left;
  z-index: 9;
  margin-top: 10px;
  left: -20px;
}

.submenu li a{
  text-decoration: none;
  padding: 10px;
  margin: 2px;
  display:block;
  background-color: #cc7726;
}

.menu li:hover .submenu{
  visibility: visible;
  opacity: 1;
  display:block;
  /* top: 5px; */
  
  /* position:absolute; */
  /* float: none; */
  /* top:30px;
  left:0px; */
  /* overflow: visible; */
}

/* aplicado al texto del menu */
.menu a {
  
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 550;
  font-family: Helvetica;
  color: #ffffff;
  position: relative;
  text-decoration: none;
  border-radius: 5px;
}
.menu li:hover{
  transition: all 0.3s;
  background-color: #cc7726;
}
.menu a:hover{
  color: black;
  transition: all 0.3s;
  background-color: #cc7726;
}

/* .menu > ul > li:after {
  content: "";
  top: 0;
  width: 100%;
  z-index: -1;
  left: -100%;
  height: 60px;
  background: #cc7726;
  position: absolute;
  transition: all 0.35s ease-in-out;
  transition-duration: 1s;
  transform-origin: right;
  transition: transform 0.5s;
  -webkit-transition: all 0.35s ease-in-out;
} */
/* .menu ul li:nth-child(1):hover:after,
.menu ul li:nth-child(2):hover:after,
.menu ul li:nth-child(3):hover:after,
.menu ul li:nth-child(4):hover:after,
.menu ul li:nth-child(5):hover:after {
  left: 0;
} */

/* .menu ul li:after {
  content: "";
  top: 0;
  width: 100%;
  z-index: -1;
  left: -100%;
  height: 60px;
  background: #cc7726;
  position: absolute;
  transition: all 0.35s ease-in-out;
  transition-duration: 1s;
  transform-origin: right;
  transition: transform 0.5s;
  -webkit-transition: all 0.35s ease-in-out;
}
.menu ul li:nth-child(1):hover:after,
.menu ul li:nth-child(2):hover:after,
.menu ul li:nth-child(3):hover:after,
.menu ul li:nth-child(4):hover:after,.menu ul li:nth-child(5):hover:after {
  left: 0;
} */

h1 {
  text-align: center;
  color: #133b85;
  font-weight: bold;
  text-transform: uppercase;
}
h2 {
  color: #333b76;
  text-transform: uppercase;
  border-bottom: 1px solid #add0d8;
  padding-bottom: 10px;
  font-weight: 300;
}
.lateral {
  /* position: relative; */
  display: inline;
  float: right;
  padding: 4px;
  width: 18%;
  height: 600px;
  /* background-color: white; */
  /* border: 1px solid black; */
  border-radius: 10px;
  /* margin: 5px; */
  padding: 0.5em;
  /* box-shadow: 0px 0px 4px; */
  margin: 7px 1px;
}
.lateral h2 {
  text-align: center;
}
#imgaside1 {
  margin: 0 auto;
  width: 150px;
  display: block;
  padding: 20px;
  opacity: 40%;
  transition: all 0.5s ease-in-out;
}
#imgaside1:hover {
  opacity: 1;
  transform: rotate(-360deg);
}

#imgaside2 {
  margin: 0 auto;
  width: 150px;
  display: block;
  padding: 20px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

#imgaside2:hover {
  -webkit-transform: rotateX(-360deg);
 -moz-transform: rotateX(-360deg);
 -ms-transform: rotateX(-360deg);
  transform: rotateX(-360deg);
}


/* *******CONTENIDO PRINCIPAL******* */
section {
  display: flex;
  float: left;
  /* border: 1px solid white; */
  /* margin: 5.5em auto; */
  width: 78%;
  /* box-shadow: 0px 0px 4px white; */
  border-radius: 20px;
  margin: 3px;
}
#menuvertical:hover{
  display: inline;
  text-decoration: none;
  
}
article {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 13px;
  /* width: 100%; */
  background-color: white;
  box-shadow: 0px 0px 4px;
}
article p{
  padding: 0 10px;
}
section article img {
  margin: 0 auto;
  width: 50%;
  display: block;
}
article h2 {
  padding: 0 0.5em;
  text-align: left;
  font: bold 30px verdana, sans-serif;
}

/* *******   FOOTER  *************/
.pie {
  /* list-style: none; */
  background: rgb(252, 252, 252);
  background: linear-gradient(
    0deg,
    rgba(252, 252, 252, 1) 0%,
    rgba(168, 43, 35, 1) 43%,
    rgba(140, 75, 17, 1) 100%
  );
  width: 100%;
  height: 250px;
  bottom: 0;
  clear: both;
  /* margin: 0px; */ /* padding: 0px; */
}
.social_media h5 {
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin: 5px auto;
  padding-top: 15px;
  color: white;
}
#creditos {
  /* font-size: 25px; */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  text-align: center;
  margin: 0 auto;
}
ul {
  list-style: none;
}
.social_media {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}
.footer_social {
  /* margin: 0 auto; */
  margin: 15px auto;
  /* display: flex; */
  display: inline-flex;
}


/*********   SPRITER DE LAS REDES SOCIALES *************/
.footer_social li i {
  display: inline-block;
  background-image: url(../img/icons-socials2.svg);
  background-repeat: no-repeat;
  background-size: 380px;
  /* padding: 4px; */
  width: 60px;
  height: 58px;
  display: inline-block;
}

.footer_social li:nth-child(2) i {
  /* width: 60px; */
  background-position-x: -63px;
}

.footer_social li:nth-child(3) i {
  background-position-x: -125px;
}
.footer_social li:nth-child(4) i {
  background-position-x: -250px;
}
.footer_social li:nth-child(5) i {
  background-position-x: -315px;
}

.footer_social li i:nth-child(1):hover,
.footer_social li i:nth-child(2):hover,
.footer_social li i:nth-child(3):hover,
.footer_social li i:nth-child(4):hover,
.footer_social li i:nth-child(5):hover {
  background-position-y: -58px;
}

/********** FORM **********/
label{
  font-weight: bolder;

}
legend{
  color: #855d13;
  font-weight: bolder;
  font-size: 150%; 
}